.container { 
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-size: 0;
	background-color: #f4f4f4;
}
/* 头部开始 */
.header-wrapper {
	 display: flex;
	 box-sizing: border-box;
	 justify-content: space-between;
	 align-items: center;
	 height: 11.7333333vw;
}
div.back,div.title,div.search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
div.back {
	 width: 13.333333vw;
	 height: 100%;
}
div.back img { height: 100%; }
div.title {
	flex-grow: 1;
	flex-shrink: 0;
	font-size: 16px;
}
div.search {
	box-sizing: border-box;
	width: 11.4666666vw;
	padding-right: 1.866666vw;
}
/* 头部结束 */
/* 支付开始 */
div.pay-wrapper {
	flex-grow: 1;
}
.account-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.866666vw 0 0;
	height: 20vw;
}
.account {
	font-size: 4vw;
	color: red;
}
.account>span {
	font-size: 7.466666vw;
}
.deadline {
	font-size: 3.2vw;
	color: red;
	padding: 0 2vw;
	margin-top: 2.666666vw;
	border-radius: 3.2vw;
	background-color: white;
}
.payment-wrapper {
	box-sizing: border-box;
	margin: 0 3.2vw;
}
.payment-wrapper>div {
	box-sizing: border-box;
	display: flex;
	padding: 0 3.2vw;
	height: 16vw;
	background-color: white;
}
.payment-wrapper>div>div {
	display: flex;
	justift-content: center;
	align-items: center;
}
.payment-wrapper>div>div:nth-child(1) {
	width:
}
.payment-wrapper>div img {
	height: 8vw;
	width: 8vw;
	margin-right: 3.2vw;
}
div.pay-name {
	flex-grow: 1;
	font-size: 3.733333vw;
}
div.pay-name>span:nth-child(2) {
	font-size: 2vw;
	color: white;
	padding: 0 1vw;
	margin-left: 2vw;
	border-radius: 2.666666vw;
	background-color: red;
}
.payment-wrapper>div span {}
.payment-wrapper>div i {
	height: 4.266666vw;
	width: 4.266666vw;
	background-image: url(./images/unchecked.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.payment-wrapper>div i.active {
	background-image: url(./images/checked.png);
}
.payment-wrapper>div:nth-child(1) {
	border-top-right-radius: 2.666666vw;
	border-top-left-radius: 2.666666vw;
}
.payment-wrapper>div:nth-child(2) {
	border-bottom-right-radius: 2.666666vw;
	border-bottom-left-radius: 2.666666vw;
}
.mistages {
	margin-top: 3.2vw;
	border-radius: 2.666666vw;
}
/* 支付结束 */
/* 支付按钮 */
.btn-pay-wrapper {
	display: flex;
	justify-content: center;
}
button.btn-pay {
	box-sizing: border-box;
	height: 10.1333333vw;
	width: 92vw;
	margin: 2.133333vw;
	border-radius: 8vw;
	background-color: red;
	font-size: 4vw;
	color: white;
	border: none;
}